.design_container ul {
    display: flex;
    column-gap: 50px;
    align-items: normal;
    justify-content: normal;
    row-gap: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0 40px;
    position: relative;
    transition: top 0.5s ease;
    flex-wrap: wrap;
    justify-content:center;
}
.design_container li img {
    transition: transform 0.5s ease;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}
.footer_contact div {
    display: flex;
    align-items: center;
}
.home p{
    display: none;
}
section.home h2, section.home h3, section.home h4, section.home strong {
    width: 100%;
}
/* .design_container li img:hover{
    animation: move 5s forwards .2s;

}
@keyframes move {
    100% {
      transform: translateY(-100%);
    }
  } */
@media (max-width: 1880px) {
    .about_container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 50%;
    }
    .skills .skill_container {
      column-gap: 20px;
      width: 100%;
    }

    .design_container ul li {
        display: flex;
        width: auto;
        height: 330px;
        justify-content: normal;
        aspect-ratio: 1 / 1;
    }
    .banner_slide_box ul li{
        aspect-ratio: unset;
    }
  }
@media (max-width: 1650px) {
  .about_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
  }
  .skills .skill_container {
    column-gap: 20px;
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .about_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
  }
  .about .inner {
    gap: 50px;
  }
  .design_container li {
    display: flex;
    width: 330px;
    height: auto;
    justify-content: center;
    width: 24%;
    aspect-ratio: 1 / 1;
}
.design_container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    
}


}

@media (max-width: 1120px) {
  .inner {
    flex-direction: column;
    margin-left: 30px;
  }
  .about_container {
    width: 100%;
  }
}

@media (max-width: 992px) {

  .about .pic {
    align-self: center;
  }
  .skills .skill_container {
    display: flex;
    flex-wrap: wrap;
  }
  .skill_container .skill_item {
    width: 48.2%;
  }
  .mockup{
    display: none;
  }
  .mockup.hide,.react_container .contents .mockup {
    display: block;
    height: auto;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
  .descrip{
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .descrip h4{
    text-align: center;
  }
  .button_box {
    display: flex;
    margin-top: 30px;
}
.renewal p, .clone p{
    padding-left: 30px;
}
.button_box {
    justify-content: center;
}
.react_container .contents{
    flex-direction: column;
    height: auto;
}
.react_container .contents .mockup iframe{
    min-height: 350px;
}
.react_container .contents.todo .mockup iframe{
    min-height: 500px;
}
.react_container .contents .content{
    width: 100%;   
    margin: 0;
}

}

@media (max-width: 768px) {
  .skill_container .skill_item {
    width: 100%;
  }
  .footer_contact{

      display: flex;
      align-items: center;
      top: 35%;
      min-width: 550px;
      flex-direction: column;
    }
    section.home h2, section.home h3, section.home h4,section.home strong {
        width: 100%;
        font-size: 60px;
    }
    .mockup.hide, .react_container .contents .mockup{
        padding: 0;
    }
    .tabs{
        gap: 15px;
    }
    .tabs li{
        font-size: 17px;
    }
    .footer h2{
        top: 12%;
    }
    .footer_contact{
        top: 34%;
    }
}
@media (max-width: 576px) {
  .side_nav {
    display: none !important;
  }
  .about .inner {
    /* margin: 0 15px; */
    margin: 0;
  }.footer_contact{
    min-width: 100%;
  }
  .inner {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 25px;
}
.descrip{
    margin-left: 0;
}
.modal-eventpage{
    width: 100%;
}
.tabs{
    justify-content: space-between;
}

}

@media (max-width: 480px) {
    .design_container ul{
        padding: 0;
    }
    .about p {
 
        flex-direction: column;
    }
    .design p, .react p,.renewal p, .clone p {
        padding-left: 0px;
        flex-direction: column;
    }
    .design p, .react p,.renewal p span, .clone p span{
        width: 100%;
    }
    .tabs{
        gap: 10px;
    }

}

@media (max-width: 420px) {
    .tabs li{
        font-size: 16px;
    }
}

@media (max-width: 376px) {
    .tabs{
        gap: 5px;
    }
    .tabs li{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}


.hide{
    display: none;
}
