.design_container ul {
    display: flex;
    column-gap: 50px;
    align-items: normal;
    justify-content: normal;
    row-gap: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0 40px;
    position: relative;
    transition: top 0.5s ease;
    flex-wrap: wrap;
    justify-content:center;
}
.design_container li img {
    transition: transform 0.5s ease;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}
/* .design_container li img:hover{
    animation: move 5s forwards .2s;

}
@keyframes move {
    100% {
      transform: translateY(-100%);
    }
  } */
@media (max-width: 1880px) {
    .about_container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 50%;
    }
    .skills .skill_container {
      column-gap: 20px;
      width: 100%;
    }

    .design_container ul li {
        display: flex;
        width: auto;
        height: 330px;
        justify-content: normal;
        aspect-ratio: 1 / 1;
    }
    .banner_slide_box ul li{
        aspect-ratio: unset;
    }
  }
@media (max-width: 1650px) {
  .about_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
  }
  .skills .skill_container {
    column-gap: 20px;
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .about_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
  }
  .about .inner {
    gap: 50px;
  }
  .design_container li {
    display: flex;
    width: 330px;
    height: auto;
    justify-content: center;
    width: 24%;
    aspect-ratio: 1 / 1;
}
.design_container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    coulmn-gap: 10px;
    
}


}

@media (max-width: 1120px) {
  .inner {
    flex-direction: column;
    margin-left: 30px;
  }
  .about_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about .pic {
    align-self: center;
  }
  .skills .skill_container {
    display: flex;
    flex-wrap: wrap;
  }
  .skill_container .skill_item {
    width: 48.2%;
  }
}

@media (max-width: 768px) {
  .skill_container .skill_item {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .side_nav {
    display: none !important;
  }
  .about .inner {
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 376px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


.hide{
    display: none;
}
